html, body {
  height: 100%;
  margin: 0;
}

.app-container {
  display: flex;
  min-height: 100%;
}

.sidebar {
  width: 270px;
  background-color: #2E2343;
  display: flex;
  flex-direction: column;
  padding: 32px 0 20px 0;
  color: #868DA6;
}

/* Logo */
.sidebar-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.sidebar-logo img {
  width: 160px;
}

/* Menu */
.menu-container {
  flex: 1;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-menu li {
  display: flex;
  align-items: center;
  padding: 18px 20px;
  margin: 10px 18px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 140%;
  color: #868DA6;
  border-radius: 12px;
  transition: background-color 0.3s, color 0.3s;
}

.sidebar-menu li img {
  width: 22px;
  margin-right: 16px;
}

.sidebar-menu li:hover,
.sidebar-menu li.active {
  background-color: #FCD730;
  color: black;
}

/* Bottom section */
.sidebar-bottom {
  margin-top: auto;
  padding-bottom: 20px;
}

/* Divider Line */
.sidebar-divider {
  width: 100%;
  height: 0;
  margin: 30px auto 12px auto;
  border-top: 1px solid #3B4053;
  opacity: 1;
}

/* Logout Button */
.sidebar-logout {
  list-style: none;
  padding: 0;
  margin: 6px 18px 0 18px;
}

.sidebar-logout li {
  display: flex;
  align-items: center;
  padding: 14px 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 17px;
  color: #FCD730;
  cursor: pointer;
  border-radius: 12px;
  transition: background-color 0.3s;
}

.sidebar-logout li img {
  width: 22px;
  margin-right: 16px;
}

.sidebar-logout li:hover {
  background-color: rgba(252, 215, 48, 0.1);
}

/* Submenu container */
.submenu-line {
  position: absolute;
  top: 0;
  left: 45px;
  width: 1px;
  height: 100%;
  background-color: #868DA6;
  opacity: 1;
}



/* Submenu items */
.submenu li {
  font-family: 'Roboto', sans-serif;
  font-size: 15.5px;
  color: #868DA6;
  cursor: pointer;
  padding: 4px 0;
  transition: color 0.3s ease;
}

/* When submenu item is hovered or active */
.submenu li:hover,
.submenu li.active {
  color: white;
  background: none !important;
}

/* Vertical line before submenu */

